@{
    ViewData["Title"] = "Productos";
}


<div class="w-100">
    <div class="banner-marcas row d-flex">
        <div class="logo col-5 mx-auto">
            <img src="~/imagenes/statics/razer.png" alt="" class="" />
        </div>
        <div class="col-7 banner d-none d-md-flex justify-content-end">
            <img src="~/imagenes/statics/banner.png" alt="" class="" />
        </div>
    </div>
</div>

<div class="px-2 py-2 mb-5">
    <div class="filtros row w-100 mx-auto justify-content-between align-items-center py-2">
        <div class="col-3 row">
            <label class="col form-label">Marcas</label>
            <select id="dropdownMarcas" class="form-control form-select col">
                <option value="todas">--Todas--</option>
                <option value="azus">Azus</option>
                <option value="redragon">Redragon</option>
                <option value="corsair">Corrsair</option>
                <option value="nvidia">Nvidia</option>
            </select>
            @* @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias,
            "-Por favor seleccione una categoria-", new { @class = "form-control form-select" }) *@
        </div>
        <div class="col-5 row">
            <p class="col mb-0">
                Total: <spam id="totalProductos" class="">15 productos@* @model.Count() *@</spam>
            </p>

        </div>
        <div class="col-2 row">
            <label class="col form-label">Ordenar por: </label>
        </div>

        <div class="col-2 px-0">
            <div class="">
                <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Filtrar por...
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="">
                            <input type="checkbox" id="option1" value="" class="" name="option1" />
                            <label for="option1">Teclados</label>
                        </div>
                        <div class="">
                            <input type="checkbox" id="option2" value="" class="" name="option2" />
                            <label for="option2">Ratones</label>
                        </div>
                        <div class="">
                            <input type="checkbox" id="option3" value="" class="" name="option3" />
                            <label for="option3">Sillas</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mas-vendidos-container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4  m-3">
        <div class="col px-2 pb-4">
            <a asp-area="Cliente" asp-controller="Productos" asp-action="Details" class="card">
                <span class="descuento">20%</span>
                <img src="~/imagenes/statics/teclado1.png" class="card-img-top p-4" alt="teclado">
                <div class="card-body">
                    <h5 class="card-title">Redragon FIZZ PRO White</h5>
                    <div class="row justify-content-between">
                        <p class="col">S/ 239.00   <del>S/ 299.00</del></p>
                        <div class="col">
                            <btn type="button" class="btn btn-dark rounded-circle">
                                <i class="fa-solid fa-arrow-right"></i>
                            </btn>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#dropdownMarcas").change(function () {
            imprimirValores();
        })

        $("#option1").change(function () {
            imprimirValores();
        })

        $("#option2").change(function () {
            imprimirValores();
        })

        $("#option3").change(function () {
            imprimirValores();
        })


        function imprimirValores() {
            var marca = $("#dropdownMarcas").val();
            var teclados = $("#option1").prop('checked');
            var ratones = $("#option2").prop('checked');
            var sillas = $("#option3").prop('checked');

            console.log("Marca: " + marca);
            console.log("Teclados: " + teclados);
            console.log("Ratones: " + ratones);
            console.log("sillas: " + sillas);
        }
    })
</script>