@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav d-flex flex-row gap-2 align-content-center">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item h-100 mt-1">
        <a  class="nav-link text-dark py-0" asp-area="Cliente" asp-controller="Carrito" asp-action="Index" title="Manage">
            <img src="~/imagenes/statics/carrito.png" alt="" class="" width="40" />
        </a>
    </li>

    <li class="nav-item mt-1 px-0" style="width:2px!important; background-color:#C1C1C1; height:40px;"></li>
    
    <li class="nav-item dropdown" >
        <div class="btn-group">
            <a class="text-dark py-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img src="~/imagenes/statics/perfil.png" alt="" class="" width="50" />
            </a>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu py-0 position-absolute" style="width:80px !important; min-width:fit-content !important;">
                <form class="form-inline" style="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark w-100">Salir</button>
                </form>
            </div>
        </div>
        
    </li>
    @* <li class="nav-item">
    </li> *@
}
else
{
    <li class="nav-item">
        <a class="nav-link btn-registrarse" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn-acceder" asp-area="Identity" asp-page="/Account/Login">Acceder</a>
    </li>
}
</ul>
