@model GEEK.Models.ViewModels.MarcaVM

@{
    ViewData["Title"] = "Crear Marca";
}


<br />
<br />

<h3 class="text-center">Crear una nueva Marca</h3>

<form enctype="multipart/form-data" method="post" asp-action="Edit" class="row p-5">
    <div class="row px-2 mx-auto border col-10">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IdMarca"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IdMarca" class="form-control" readonly />

                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NombreMarca"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NombreMarca" class="form-control" placeholder="Descripcion Categoria" />
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="RutaImagen"></label>
                    <br />
                    <br />

                    <img src="@ViewData["Imagen"]" alt="Imagen actual" style="max-width:200px; margin-top:10px;" />

                </div>
                <div class="col-8">
                    <input asp-for="RutaImagen" type="file" class="form-control" />
                </div>
            </div>

            <br />

            <div class="form-goup-row">
                <div class="row mb-3 mt-1">
                    <div class="col">
                        <button type="submit" class="btn btn-primary form-control">Editar</button>
                    </div>
                    &nbsp;
                    <div class="col">
                        <a asp-action="Index" class="btn btn-success form-control">Volver atras</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
