@{
    ViewData["Title"] = "Lista de Marcas";
}

<style>
    #tblMarcas {

    }

    #tblMarcas thead tr {
        background-color: var(--color-primary) !important;
        color: white;
    }

    #tblMarcas tbody tr {
            background-color: rgba(255, 180, 106, 0.56);
    }
</style>


<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h2 class="text-primary">Lista de Marcas</h2>
        </div>
        <div class="col-4 text-right">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> Crear Nueva Marca
            </a>
        </div>
    </div>


    <br />
    <br />

    <table id="tblMarcas" class="table table-striped tabled-bordered table-hover " style="width: 100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts {
    <script src="~/js/marca.js"></script>
}
